body {
	background-color : #000;
	margin : 0px;
	padding : 0px;
	color : #fff;
	overflow: hidden;
}

/*@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
​
#seconds {
  font-size: 80px;
  color: #600000 ;
	text-shadow: 3px 2px 8px black;
	margin-left: 25px;
}
​
div {
  display: inline-block;
  line-height: 1;
	position: absolute;
  font-size: 40px;
	float: right;
}
​
span {
  display: block;
  font-size: 30px;
  color: white;
}*/
